@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

fieldset {
    background-color: rgb(187 187 187);
    border-radius: 8px;
    box-shadow: -1px -1px 4px 1px rgba(108 100 100);
    padding: initial;
    padding: 15px 10px;
}

input, textarea {
    border-radius: 8px;
    border-color: #000;
    border: 1px solid #000;
}

.btn {
    padding: 5px 10px;
    cursor: pointer;
    font-weight: 400;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 5px;
}

#btnEnviar {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

#btnEnviar:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}

#btnExibir {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

#btnExibir:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

#btnApagar {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

#btnApagar:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}

body {
    background-color: lightgray;
}

.asterisc {
    color: rgb(255 0 0);
    font-weight: bold;
}

#lblNome, #lblEndereco, #lblCidade, #lblEstado, #lblOcupacao, #lblCargo, #lblCV {
    font-weight: bold;
}

select{
    border-radius: 8px;
}